<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <!--extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ca.usask.cs.srlab.simclipse.ui.preferences.SimClipsePreferencePage"
            id="ca.usask.cs.srlab.simclipse.preferences.SimClipsePreferencePage"
            name="%preferencepage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.usask.cs.srlab.simclipse.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension-->
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ca.usask.cs.srlab.simclipse.view.category.clonedetection"
            name="%category.view.name">
      </category>
      <view
            category="ca.usask.cs.srlab.simclipse.view.category.clonedetection"
            class="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectView"
            icon="icons/projects.gif"
            id="ca.usask.cs.srlab.simclipse.ui.view.ProjectsView"
            name="%view.name.projects"
            restorable="true">
      </view>
      <view
            category="ca.usask.cs.srlab.simclipse.view.category.clonedetection"
            class="ca.usask.cs.srlab.simclipse.ui.view.clone.CloneView"
            icon="icons/cloneview.png"
            id="ca.usask.cs.srlab.simclipse.ui.view.ClonesView"
            name="%view.name.clones"
            restorable="true">
      </view>
      <view
            category="ca.usask.cs.srlab.simclipse.view.category.clonedetection"
            class="ca.usask.cs.srlab.simclipse.ui.view.navigator.SimEclipseNavigator"
            icon="icons/group.gif"
            id="ca.usask.cs.srlab.simclipse.ui.view.navigatorView"
            name="%view.name.navigator"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="%category.commands.projectView.description"
            id="ca.usask.cs.srlab.simclipse.commands.category.projectView"
            name="%category.commands.projectView.name">
      </category>
      <category
            description="%category.commands.cloneDetection.description"
            id="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            name="%category.commands.cloneDetection.name">
      </category>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.projectView"
            description="%command.openProjectView.description"
            id="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView"
            name="%command.openProjectView.name">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.projectView"
            description="%command.enable.description"
            id="ca.usask.cs.srlab.simclipse.commands.enableSimClipse"
            name="%command.enable.name">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.projectView"
            description="%command.disable.description"
            id="ca.usask.cs.srlab.simclipse.commands.disableSimClipse"
            name="%command.disable.name">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            description="%command.updateCloneIndex.description"
            id="ca.usask.cs.srlab.simclipse.commands.updateCloneIndex"
            name="%command.updateCloneIndex.name">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            description="%command.detectClone.description"
            id="ca.usask.cs.srlab.simclipse.commands.detectClone"
            name="%command.detectClone.name">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            description="%command.viewClone.description"
            id="ca.usask.cs.srlab.simclipse.commands.viewClone"
            name="%command.viewClone.name">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            description="%command.updateSettings.description"
            id="ca.usask.cs.srlab.simclipse.commands.changeSimClipseSettings"
            name="%command.updateSettings.name">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!--menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ca.usask.cs.srlab.simclipse.menus.simclipseMenu"
               label="SimClipse"
               mnemonic="s">
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView"
                  icon="icons/simclipse.png"
                  id="ca.usask.cs.srlab.simclipse.menus.openSimClipseProjectsView"
                  mnemonic="O"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="ca.usask.cs.srlab.simclipse.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ca.usask.cs.srlab.simclipse.toolbars.simclipseMenu">
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView"
                  icon="icons/simclipse.png"
                  id="ca.usask.cs.srlab.simclipse.toolbars.openSimClipseProjectsView"
                  style="push"
                  tooltip="Open SimClipse Projects view">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="ca.usask.cs.srlab.simclipse.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution-->
      
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
            <!--popup:org.eclipse.ui.popup.any "-->
            <!--popup:org.eclipse.jdt.ui.PackageExplorer "-->
            <!--popup:org.eclipse.ui.navigator.ProjectExplorer"-->
         <menu
               icon="icons/simclipse2.gif"
               id="ca.usask.cs.srlab.simclipse.popups.simclipseMenu"
               label="%menu.popup.root.label">
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.enableSimClipse"
                  icon="icons/enable.png"
                  id="ca.usask.cs.srlab.simclipse.popups.enableSimClipse"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                        	<or>
	                           	<instanceof 
	                           		value="org.eclipse.core.resources.IProject">
	                           	</instanceof>
	                           <instanceof
	                                value="org.eclipse.jdt.core.IJavaProject">
	                           </instanceof>
                           	</or>
                           <test
                                 forcePluginActivation="true"
                                 property="ca.usask.cs.srlab.simclipse.notSimClipseItem">
                           </test>
                           
                           <!--or>
	                           	<test
                                 	args="isOpen"
                                 	property="org.eclipse.core.resources.IProject"
                                 	value="true">
                           		</test>
                           		<test
                                 	args="isOpen"
                                 	property="org.eclipse.jdt.core.IJavaProject"
                                 	value="true">
                           		</test>
                           	</or-->
                           
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.disableSimClipse"
                  icon="icons/disable.png"
                  id="ca.usask.cs.srlab.simclipse.popups.disableSimClipse"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                           	<instanceof 
                           		value="org.eclipse.core.resources.IProject">
                           	</instanceof>
                           <instanceof
                                value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                           	</or>
                           <test
                                 property="ca.usask.cs.srlab.simclipse.isSimClipseItem">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.changeSimClipseSettings"
                  icon="icons/settings.png"
                  id="ca.usask.cs.srlab.simclipse.popups.changeSimClipseSettings"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                           	<instanceof 
                           		value="org.eclipse.core.resources.IProject">
                           	</instanceof>
                           <instanceof
                                value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                           	</or>
                           <test
                                 property="ca.usask.cs.srlab.simclipse.isSimClipseItem">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <menu
                  icon="icons/clones.png"
                  id="ca.usask.cs.srlab.simclipse.popups.simclipseMenu.clonesMenu"
                  label="%menu.popup.clones.label">
               <command
                     commandId="ca.usask.cs.srlab.simclipse.commands.updateCloneIndex"
                     icon="icons/update_clone_index.png"
                     id="ca.usask.cs.srlab.simclipse.popups.updateCloneIndex"
                     style="push">
               </command>
               <command
                     commandId="ca.usask.cs.srlab.simclipse.commands.detectClone"
                     icon="icons/detect_clone.png"
                     id="ca.usask.cs.srlab.simclipse.popups.detectClone"
                     style="push">
               </command>
               <command
                     commandId="ca.usask.cs.srlab.simclipse.commands.viewClone"
                     icon="icons/view_clone.png"
                     id="ca.usask.cs.srlab.simclipse.popups.viewClone"
                     style="push">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <or>
                           	<instanceof 
                           		value="org.eclipse.core.resources.IProject">
                           	</instanceof>
                           <instanceof
                                value="org.eclipse.jdt.core.IJavaProject">
                           </instanceof>
                           	</or>
                           <test
                                 property="ca.usask.cs.srlab.simclipse.isSimClipseItem">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </menu>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activePartId">
                  <or>
                     <equals
                           value="org.eclipse.ui.navigator.ProjectExplorer"/>
                     <equals
                           value="org.eclipse.jdt.ui.PackageExplorer"/>
                  </or>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
      <!--menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="icons/simclipse.png"
               id="ca.usask.cs.srlab.simclipse.popups.simclipseMenuX"
               label="%menu.popup.root.label">
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView"
                  id="test.menu"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <instanceof
                              value="ca.usask.cs.srlab.simclipse.ui.view.clone.CloneSetDisplayModel">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution-->
      <!--menuContribution
            allPopups="false"
            locationURI="popup:ca.usask.cs.simclipse.navigator.contextMenu?before=edit">
         <menu
               icon="icons/cluster_icon.jpg"
               label="TestMenu">
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.updateCloneIndex"
                  label="%command.updateCloneIndex.nameX"
                  style="push">
            </command>
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.detectClone"
                  label="%command.detectClone.nameX"
                  style="push">
            </command>
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.viewClone"
                  label="%command.viewClone.nameX"
                  style="push">
            </command>
         </menu>
      </menuContribution-->
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ca.usask.cs.srlab.simclipse.workbenchActionSet"
            label="%actionSet.label"
            visible="true">
            <!-- <menu icon="icons/simclipse2.gif"-->
         <menu
               id="ca.usask.cs.srlab.simclipse.workbenchMenu"
               label="%menu.actionSet.root.label"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="ca.usask.cs.srlab.simclipse.actions.OpenSimClipseProjectsViewActionDelegate"
               icon="icons/projects.gif"
               id="ca.usask.cs.srlab.simclipse.actions.openSimclipseProjectsView"
               label="%action.openProjectsView.label"
               menubarPath="ca.usask.cs.srlab.simclipse.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions">
         </action>
          <action
               class="ca.usask.cs.srlab.simclipse.actions.OpenSimClipseNavigatorViewActionDelegate"
               icon="icons/group.gif"
               id="ca.usask.cs.srlab.simclipse.actions.openSimclipseNavigatorView"
               label="%action.navigatorView.label"
               menubarPath="ca.usask.cs.srlab.simclipse.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectViewItemTester"
            id="ca.usask.cs.srlab.simclipse.propertyTester"
            namespace="ca.usask.cs.srlab.simclipse"
            properties="isSimClipseItem, notSimClipseItem"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.OpenSimClipseProjectsViewHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView">
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.EnableSimClipseHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.enableSimClipse">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.DisableSimClipseHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.disableSimClipse">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.SimClipseSettingsHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.changeSimClipseSettings">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.CloneIndexUpdateHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.updateCloneIndex">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.DetectCloneHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.detectClone">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.DisplayCloneHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.viewClone">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="ca.usask.cs.srlab.simClipse.cloneView.viewerContribution.popumMenu"
            targetID="ca.usask.cs.srlab.simclipse.ui.view.ClonesView">
         <!--menu
               id="ca.usask.cs.srlab.simClipse.projectsView.viewerContribution.popupMenu.menu1"
               label="%menu.projectsView.root.label"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu-->
         <action
               class="ca.usask.cs.srlab.simclipse.clone.comparison.CloneCompareAction"
               icon="icons/compare_all.gif"
               id="ca.usask.cs.srlab.simClipse.cloneView.viewerContribution.popupMenu.action11"
               label="%action.cloneView.compareClone.label"
               menubarPath="additions">
            <enablement>
               <or>
                  <objectClass
                        name="ca.usask.cs.srlab.simclipse.ui.view.clone.CloneSetDisplayModel">
                  </objectClass>
               </or>
            </enablement>
         </action>
      </viewerContribution>
      <viewerContribution
            id="ca.usask.cs.srlab.simClipse.projectView.viewerContribution.popumMenu"
            targetID="ca.usask.cs.srlab.simclipse.ui.view.ProjectsView">
         <action
               class="ca.usask.cs.srlab.simclipse.actions.DisableSimeclipseActionDelegate"
               icon="icons/disable.png"
               id="ca.usask.cs.srlab.simClipse.projectsView.viewerContribution.popupMenu.action15"
               label="%command.disable.description"
               menubarPath="additions">
            <enablement>
               <and>
                  <objectClass name="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectViewItem"/>
                  <objectState name="isProjectOpen" value="true"/> 
                </and>
            </enablement>
         </action>
         <!--menu
               id="ca.usask.cs.srlab.simClipse.projectsView.viewerContribution.popupMenu.menu1"
               label="%menu.projectsView.root.label"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu-->
         <action
               class="ca.usask.cs.srlab.simclipse.actions.UpdateCloneIndexActionDeligate"
               icon="icons/update_clone_index.png"
               id="ca.usask.cs.srlab.simClipse.projectsView.viewerContribution.popupMenu.action11"
               label="%action.projectsView.updateCloneIndex.label"
               menubarPath="additions">
            <enablement>
            	<and>
                  <objectClass name="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectViewItem"/>
                  <objectState name="isProjectOpen" value="true"/> 
                </and>
            </enablement>
         </action>
         <action
               class="ca.usask.cs.srlab.simclipse.actions.DetectCloneActionDelegate"
               icon="icons/detect_clone.png"
               id="ca.usask.cs.srlab.simClipse.projectsView.viewerContribution.popupMenu.action12"
               label="%action.projectsView.detectClone.label"
               menubarPath="additions">
            <enablement>
               <and>
                  <objectClass name="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectViewItem"/>
                  <objectState name="isProjectOpen" value="true"/> 
                </and>
            </enablement>
         </action>
         <action
               class="ca.usask.cs.srlab.simclipse.actions.ViewCloneActionDelegate"
               icon="icons/view_clone.png"
               id="ca.usask.cs.srlab.simClipse.projectsView.viewerContribution.popupMenu.action13"
               label="%action.projectsView.viewClone.label"
               menubarPath="additions">
            <enablement>
               <and>
                  <objectClass name="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectViewItem"/>
                  <objectState name="isProjectOpen" value="true"/> 
                </and>
            </enablement>
         </action>
         <action
               class="ca.usask.cs.srlab.simclipse.actions.OpenDetectionSettingsActionDelegate"
               icon="icons/settings.png"
               id="ca.usask.cs.srlab.simClipse.projectsView.viewerContribution.popupMenu.action14"
               label="%action.projectsView.changeSettings.label"
               menubarPath="additions">
            <enablement>
               <and>
                  <objectClass name="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectViewItem"/>
                  <objectState name="isProjectOpen" value="true"/> 
                </and>
            </enablement>
         </action>
      </viewerContribution>
      
      <!-- navigator view popup -->
      <viewerContribution
            id="ca.usask.cs.srlab.simClipse.navigatorView.viewerContribution.popumMenu"
            targetID="ca.usask.cs.srlab.simclipse.ui.view.navigatorView">
         <!--action
               class="ca.usask.cs.srlab.simclipse.actions.UpdateCloneIndexActionDeligate"
               icon="icons/update_clone_index.png"
               id="ca.usask.cs.srlab.simClipse.navigatorView.viewerContribution.popupMenu.action11"
               label="%action.projectsView.updateCloneIndex.label"
               menubarPath="additions">
            <enablement>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
            </enablement>
         </action-->
         <action
               class="ca.usask.cs.srlab.simclipse.actions.DetectCloneActionDelegate"
               icon="icons/detect_clone.png"
               id="ca.usask.cs.srlab.simClipse.navigatorView.viewerContribution.popupMenu.action12"
               label="%action.projectsView.detectClone.label"
               menubarPath="additions">
            <enablement>
                  <objectClass
                        name="ca.usask.cs.srlab.simclipse.ui.view.navigator.INavigatorItem">
                  </objectClass>
            </enablement>
         </action>
         <!--action
               class="ca.usask.cs.srlab.simclipse.actions.ViewCloneActionDelegate"
               icon="icons/view_clone.png"
               id="ca.usask.cs.srlab.simClipse.navigatorView.viewerContribution.popupMenu.action13"
               label="%action.projectsView.viewClone.label"
               menubarPath="additions">
            <enablement>
            	<or>
                  <objectClass
                        name="org.eclipse.core.resources.IResource">
                  </objectClass>
                  <objectClass
                        name="ca.usask.cs.srlab.simclipse.ui.view.navigator.FileFragment">
                  </objectClass>
                 </or> 
            </enablement>
         </action-->
         <action
               class="ca.usask.cs.srlab.simclipse.actions.OpenDetectionSettingsActionDelegate"
               icon="icons/settings.png"
               id="ca.usask.cs.srlab.simClipse.navigatorView.viewerContribution.popupMenu.action14"
               label="%action.projectsView.changeSettings.label"
               menubarPath="additions">
            <enablement>
                  <objectClass
                        name="ca.usask.cs.srlab.simclipse.ui.view.navigator.INavigatorItem">
                  </objectClass>
            </enablement>
         </action>
      </viewerContribution>
      
      <!-- members view popup -->
      <!--viewerContribution
            id="ca.usask.cs.srlab.simClipse.javaMembersView.viewerContribution.popupMenu"
            targetID="org.eclipse.jdt.ui.MembersView">
         <menu
               id="ca.usask.cs.srlab.simClipse.javaMembersView.viewerContribution.popupMenu.menu1"
               label="%menu.membersView.root.label"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="ca.usask.cs.srlab.simclipse.Action3"
               id="ca.usask.cs.srlab.simClipse.javaMembersView.viewerContribution.popupMenu.action11"
               label="%action.membersView.viewClone.label"
               menubarPath="ca.usask.cs.srlab.simClipse.javaMembersView.viewerContribution.popupMenu.menu1/content">
         </action>
         <action
               class="ca.usask.cs.srlab.simclipse.actions.DetectCloneActionDeligate"
               id="ca.usask.cs.srlab.simClipse.javaMembersView.viewerContribution.popupMenu.action12"
               label="%action.membersView.detectClone.label"
               menubarPath="ca.usask.cs.srlab.simClipse.javaMembersView.viewerContribution.popupMenu.menu1/content">
         </action>
      </viewerContribution-->
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="ca.usask.cs.srlab.simclipse.SimEclipseProjectNature">
         </run>
      </runtime>
   </extension>
   
   <extension
         point="org.eclipse.ui.navigator.viewer">
         <viewer
               viewerId="ca.usask.cs.srlab.simclipse.ui.view.navigatorView">
               <popupMenu allowsPlatformContributions="true">
               <insertionPoint
                    name="group.edit" />

                <insertionPoint
                    name="group.reorganize" />
               </popupMenu>
         </viewer>
      <viewerContentBinding
            viewerId="ca.usask.cs.srlab.simclipse.ui.view.navigatorView">
         <includes>
            <contentExtension
                  isRoot="false"
                  pattern="ca.usask.cs.srlab.simclipse.navigatorContent">
            </contentExtension>
         </includes>
      </viewerContentBinding>
      <!--viewerActionBinding
            viewerId="ca.usask.cs.srlab.simclipse.ui.view.navigatorView">
         <includes>
            <actionExtension
                  pattern="org.eclipse.ui.navigator.resources.*">
            </actionExtension>
         </includes>
      </viewerActionBinding-->
      
   </extension>
      
   <extension
         point="org.eclipse.ui.navigator.navigatorContent">
      <navigatorContent
            activeByDefault="true"
            contentProvider="ca.usask.cs.srlab.simclipse.ui.view.navigator.NavigatorViewNewContentProvider"
            id="ca.usask.cs.srlab.simclipse.navigatorContent"
            labelProvider="ca.usask.cs.srlab.simclipse.ui.view.navigator.NavigatorViewNewLabelProvider"
            name="SimEclipse Projects">
         <triggerPoints>
            <or>
            	<instanceof
                     value="ca.usask.cs.srlab.simclipse.ui.view.navigator.NavigatorManager">
               </instanceof>
               <instanceof
                     value="ca.usask.cs.srlab.simclipse.ui.view.navigator.Root">
               </instanceof>
               <instanceof
                     value="ca.usask.cs.srlab.simclipse.ui.view.navigator.INavigatorItem">
               </instanceof>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof
                     value="ca.usask.cs.srlab.simclipse.ui.view.navigator.INavigatorItem">
               </instanceof>
         </possibleChildren>
      </navigatorContent>
   </extension>
   <!--extension point="org.eclipse.ui.popupMenus"> 
      
      <viewerContribution 
         id="com.xyz.C2" 
         targetID="ca.usask.cs.srlab.simclipse.ui.view.navigatorView"> 
         <action
               class="ca.usask.cs.srlab.simclipse.actions.DetectCloneActionDeligateForNavigator"
               icon="icons/detect_clone.png"
               id="xca.usask.cs.srlab.simclipse.actions.enableSimclipse"
               label="Detect Clone"
               menubarPath="additions"
               state="true"
               style="toggle">
            <selection
                  class="org.eclipse.core.resources.IResource">
            </selection>
         </action> 
      </viewerContribution> 
   </extension--> 

</plugin>
