<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ca.usask.cs.srlab.simclipse.ui.preferences.SimClipsePreferencePage"
            id="ca.usask.cs.srlab.simclipse.preferences.SimClipsePreferencePage"
            name="SimClipse">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="ca.usask.cs.srlab.simclipse.ui.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ca.usask.cs.srlab.simclipse.view.category.clonedetection"
            name="SimClipse">
      </category>
      <view
            category="ca.usask.cs.srlab.simclipse.view.category.clonedetection"
            class="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectView"
            icon="icons/projects.gif"
            id="ca.usask.cs.srlab.simclipse.ui.views.ProjectsView"
            name="SimClipse Projects"
            restorable="true">
      </view>
      <view
            category="ca.usask.cs.srlab.simclipse.view.category.clonedetection"
            class="ca.usask.cs.srlab.simclipse.ui.view.clone.CloneView"
            icon="icons/cloneview.png"
            id="ca.usask.cs.srlab.simclipse.ui.views.ClonesView"
            name="SimClipse Clones"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands related to SimClipse Projects View"
            id="ca.usask.cs.srlab.simclipse.commands.category.projectView"
            name="SimClipse">
      </category>
      <category
            description="Commands related to SimClipse Clone Detection"
            id="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            name="Clones">
      </category>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.projectView"
            description="Open SimClipse Projects View if not already visible"
            id="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView"
            name="Open SimClipse Projects View">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.projectView"
            description="Add SimClipse to project"
            id="ca.usask.cs.srlab.simclipse.commands.addSimClipse"
            name="Add to Project">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.projectView"
            description="Remove SimClipse from project"
            id="ca.usask.cs.srlab.simclipse.commands.removeSimClipse"
            name="Remove from Project">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            description="Update Clone Index"
            id="ca.usask.cs.srlab.simclipse.commands.updateCloneIndex"
            name="Update Clone Index">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            description="Detect Clone in Project"
            id="ca.usask.cs.srlab.simclipse.commands.detectClone"
            name="Detect Clones in Project">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            description="View Clones in Project"
            id="ca.usask.cs.srlab.simclipse.commands.viewClone"
            name="View Clones in Project">
      </command>
      <command
            categoryId="ca.usask.cs.srlab.simclipse.commands.category.processClone"
            description="Update SimClipse Settings"
            id="ca.usask.cs.srlab.simclipse.commands.changeSimClipseSettings"
            name="Update Settings">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <!--menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="ca.usask.cs.srlab.simclipse.menus.simclipseMenu"
               label="SimClipse"
               mnemonic="s">
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView"
                  icon="icons/simclipse.png"
                  id="ca.usask.cs.srlab.simclipse.menus.openSimClipseProjectsView"
                  mnemonic="O"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="ca.usask.cs.srlab.simclipse.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ca.usask.cs.srlab.simclipse.toolbars.simclipseMenu">
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView"
                  icon="icons/simclipse.png"
                  id="ca.usask.cs.srlab.simclipse.toolbars.openSimClipseProjectsView"
                  style="push"
                  tooltip="Open SimClipse Projects view">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="activeContexts">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <equals
                              value="ca.usask.cs.srlab.simclipse.workbenchActionSet">
                        </equals>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution-->
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="ca.usask.cs.srlab.simclipse.popups.simclipseMenu"
               label="SimClipse">
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.addSimClipse"
                  icon="icons/add.gif"
                  id="ca.usask.cs.srlab.simclipse.popups.addSimClipse"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="ca.usask.cs.srlab.simclipse.notSimClipseItem">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.removeSimClipse"
                  icon="icons/delete.gif"
                  id="ca.usask.cs.srlab.simclipse.popups.removeSimClipse"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="ca.usask.cs.srlab.simclipse.isSimClipseItem">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="ca.usask.cs.srlab.simclipse.commands.changeSimClipseSettings"
                  icon="icons/settings.png"
                  id="ca.usask.cs.srlab.simclipse.popups.changeSimClipseSettings"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="ca.usask.cs.srlab.simclipse.isSimClipseItem">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <menu
                  icon="icons/clones.png"
                  id="ca.usask.cs.srlab.simclipse.popups.simclipseMenu.clonesMenu"
                  label="Clones">
               <command
                     commandId="ca.usask.cs.srlab.simclipse.commands.updateCloneIndex"
                     id="ca.usask.cs.srlab.simclipse.popups.updateCloneIndex"
                     style="push">
               </command>
               <command
                     commandId="ca.usask.cs.srlab.simclipse.commands.detectClone"
                     id="ca.usask.cs.srlab.simclipse.popups.detectClone"
                     style="push">
               </command>
               <command
                     commandId="ca.usask.cs.srlab.simclipse.commands.viewClone"
                     id="ca.usask.cs.srlab.simclipse.popups.viewClone"
                     style="push">
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="or">
                        <and>
                           <instanceof
                                 value="org.eclipse.core.resources.IProject">
                           </instanceof>
                           <test
                                 property="ca.usask.cs.srlab.simclipse.isSimClipseItem">
                           </test>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </menu>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ca.usask.cs.srlab.simclipse.workbenchActionSet"
            label="SimClipse ActionSet"
            visible="true">
         <menu
               icon="icons/simclipse2.gif"
               id="ca.usask.cs.srlab.simclipse.workbenchMenu"
               label="SimClipse"
               path="additions">
            <groupMarker
                  name="content">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
         <action
               class="ca.usask.cs.srlab.simclipse.actions.OpenSimClipseProjectsViewActionDelegate"
               icon="icons/projects.gif"
               id="ca.usask.cs.srlab.simclipse.actions.openSimclipseProjectsView"
               label="Open Simclipse Projects View"
               menubarPath="ca.usask.cs.srlab.simclipse.workbenchMenu/content"
               style="push"
               toolbarPath="Normal/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ca.usask.cs.srlab.simclipse.ui.view.project.ProjectViewItemTester"
            id="ca.usask.cs.srlab.simclipse.propertyTesters.isSimClipseItem"
            namespace="ca.usask.cs.srlab.simclipse"
            properties="isSimClipseItem, notSimClipseItem"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.OpenSimClipseProjectsViewHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.openSimClipseProjectsView">
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.AddSimClipseHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.addSimClipse">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.RemoveSimClipseHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.removeSimClipse">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.SimClipseSettingsHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.changeSimClipseSettings">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.CloneIndexUpdateHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.updateCloneIndex">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.DetectCloneHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.detectClone">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
      <handler
            class="ca.usask.cs.srlab.simclipse.ui.handler.DisplayCloneHandler"
            commandId="ca.usask.cs.srlab.simclipse.commands.viewClone">
         <enabledWhen>
            <count
                  value="1">
            </count>
         </enabledWhen>
      </handler>
   </extension>
   <!--extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="ca.usask.cs.srlab.simclipse.popupMenu"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="ca.usask.cs.srlab.simclipse.actions.AddSimclipseActionDelegate"
               enablesFor="1"
               icon="icons/add.gif"
               id="ca.usask.cs.srlab.simclipse.actions.addSimclipse"
               label="Add"
               menubarPath="ca.usask.cs.srlab.simclipse.popupSubMenu/content">
         </action>
         <menu
               id="ca.usask.cs.srlab.simclipse.popupSubMenu"
               label="SimClipse"
               path="additions">
            <groupMarker
                  name="contents">
            </groupMarker>
            <separator
                  name="additions">
            </separator>
         </menu>
      </objectContribution>
   </extension-->

</plugin>
